body
{
	color: black;
	font-family: Arial, sans-serif;
}

html { 
  background: url(img_css/fond_code.png) no-repeat center fixed; 
  background-size: cover;
}

li[id^="Logitiel_ Metrise"] {
  padding-top: 50px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  }

  li[id^="Langue_de_programation"] {
    padding-top: 50px;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    }